@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Helvetica;
}

main h1{
    margin-top: 1vh;
    color: #C2CAE2;
    font-size: 66px;
    font-family: 'Audiowide';
    margin-bottom: 7vh;
}

h2{
    color: #C2CAE2;
    font-size: 44px;
}

p{
    font-size: 23px;
    text-align: justify;
    text-justify: newspaper;
    color: #CCD0CD;
}

li{
    font-size: 23px;
    color: #CCD0CD;
}

.cont{
    display: flex;
    justify-content: space-between;
}

i{
    color: #3E4659;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 60px;
    cursor: pointer;
}

.desc{
    margin-left: 10%;
    width: 600px;
    margin-bottom: 5%;
}

img{
    position: fixed;
    border-radius: 50%;
    transition: .4s;
}

img:hover{
    transform: scale(1.5);
    transition: .6s;
    z-index: 1;
}

#img1{
    bottom: 25%;
    right: 17%;
    width: 400px;
    height: 400px;
}
#img2{
    bottom: 20%;
    right: 12%;
    width: 250px;
    height: 250px;
}

ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}