@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3E465A;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.btn-nav{
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    background-color: #3E465A;
    color: #CCD0CD;
    padding: 7px;
    font-weight: 700;
    border-radius: 2px;
}

.btn-nav:hover{
    background-color: rgb(116, 121, 129);
    transition: .2s;
}