@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Helvetica;
}

main h1{
    margin-top: 10vh;
    color: #C2CAE2;
    font-size: 66px;
    font-family: 'Audiowide';
}


.tipos-tec{
    border-radius: 50%;
    height: 240px;
    width: 240px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0px 0px 7px #C2CAE2;
}

.tipos-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.tipos-txt{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

main a{
    text-emphasis: none;
    text-decoration: none;
    font-size: 35px;
    color: #C2CAE2;
    background-color: transparent;
    height: 240px;
    width: 240px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 50%;
    font-weight: bold;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

main a:hover{
    box-shadow: 0px 0px 20px #C2CAE2;
}
.tipos-txt{
    background-color: transparent;
    
}

.tipos-img{
    position: fixed;
    left: 40%;
    right: 40%;
}

.tipos-txt{
    position: fixed;
    left: 50%;
    right: 50%;
    top: 32%;

}

div{
    display: flex;
    justify-content: space-around;
}

.f1{
    background-image: url(../src/img/tipos/artificial-satellites.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    opacity: .35;
}
.f2{
    background-image: url(../src/img/tipos/space-probes.png);
    background-position: center;
    background-size: cover;
    opacity: .35;
    background-repeat: no-repeat;
    content: '';
}
.f3{
    background-image: url(../src/img/tipos/telescopes.png);
    background-position: center;
    background-size: cover;
    opacity: .35;
    background-repeat: no-repeat;
    content: '';
}
.f4{
    background-image: url(../src/img/tipos/manned-spacecrafts.png);
    background-position: center;
    background-size: cover;
    opacity: .35;
    background-repeat: no-repeat;
    content: '';
}
.f5{
    background-image: url(../src/img/tipos/space-stations.png);
    background-position: center;
    background-size: cover;
    opacity: .35;
    background-repeat: no-repeat;
    content: '';
}
.f6{
    background-image: url(../src/img/tipos/exploration-robots.png);
    background-position: center;
    background-size: cover;
    opacity: .35;
    background-repeat: no-repeat;
    content: '';
}

label{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}